{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'puzzles/style.css' %}" />

{% if user.is_authenticated %}
<div class="logout"><a href="/puzzles/logout/">Logout</a></div>
{% endif %}

<header class="main-header" role="banner">
    <img src="/static/puzzles/images/indiana-logo.png" alt="Indiana Droid and the Holy Grail"/>
</header>

{% if user.is_authenticated %}
<h1>WELCOME, {{ user.get_profile.team }}!</h1>

<p>Indiana Droid needs your help. Tackle the puzzles below:</p>
{% if active_puzzles %}
    <ul>
    {% for puzzle in active_puzzles %}
    <li><a href="{% url 'puzzles:detail' puzzle.display_id %}">{{ puzzle.name }}</a>
    {% if puzzle.solved %} [SOLVED]{% endif %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No puzzles are active.</p>
{% endif %}

{% else %}
<h1>WELCOME, ADVENTURER.</h1>
<p>After the [spoiler alert!] loss of the Holy Grail during Indiana Jones's escapades in the Last Crusade, [/spoiler alert!] Indiana Droid has heard rumors of the Holy Grail's resurface. Following clues and tips from his informants has led him to believe that it lies near a town hidden deep within the Amazon.
<br /><br />
It might involve deadly traps and government conspiracies, but Indy will find a way to reclaim the Grail, especially if you've got his back. Soon it'll be back in Goog-- in a museum, where it rightfully belongs.
<br /><br />
Will YOU be the one to find the Holy Grail first?
</p>
<a href="/puzzles/login/">Login</a>
<br />
{% endif %}

